@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 222.2 84% 4.9%; /* gray-900 */

    --primary: 262 83% 58%; /* Tailwind purple-600 (#7C3AED) */
    --primary-foreground: 0 0% 100%; /* white */

    --secondary: 220 14% 96%; /* gray-100 */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 220 14% 96%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 262 83% 58%;
    --accent-foreground: 0 0% 100%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262 83% 58%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%; /* near-black */
    --foreground: 0 0% 98%; /* almost white */

    --primary: 262 83% 58%; /* purple stays same */
    --primary-foreground: 0 0% 100%;

    --secondary: 240 3.7% 15.9%; /* gray-800 */
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 262 83% 58%;
    --accent-foreground: 0 0% 100%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 262 83% 58%;

    --card: 240 3.7% 15.9%;
    --card-foreground: 0 0% 98%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: "Fredoka", "Inter", sans-serif;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Slim scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* No background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #3c0768,
    #d155f7
  ); /* from-purple-500 to-purple-900 */
  border-radius: 9999px; /* Fully rounded */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #3c0768,
    #d155f7
  ); /* from-purple-600 to-purple-950 on hover */
}

/* App-wide custom scrollbar */
html::-webkit-scrollbar {
  width: 6px; /* Slim scrollbar */
}

html::-webkit-scrollbar-track {
  background: transparent; /* No background */
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #3c0768, #c084fc); /* Gradient thumb */
  border-radius: 9999px; /* Fully rounded */
}

html::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #c084fc,
    #c084fc
  ); /* Slightly stronger on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c084fc #0000; /* thumb track */
}
